@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.wrapper {
    background-color: black;
    width: 100%;
    position: relative;
}

.tickets {
    position: absolute;
    padding: 188px 25px;
    display: flex;
    max-width: 100%;
    align-items: center;
}

.ticket1,
.ticket2 {
    display: block;
    transition: transform 2s ease, opacity 2s ease;
}

.ticket2 {
    margin-left: -2px;
}

img {
    max-width: 100%;
}

.fixed {
    position: fixed;
    top: 54px;
    left: 54px;
    z-index: 3;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    font-size: 24px;
    color: black;
}

header nav {
    float: center;
    width: 50%;
    margin-left: 205px;
    margin-top: 248px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    color: black;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: black;
}

header nav ul li a:hover {
    border-bottom: 1px solid black;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    padding-top: 33px;
    margin-left: 200px;
    font-size: 24px;
}

.hero--info h1 {
    color: black;
    font-size: 96px;
    font-weight: 400;
}

.hero--info h3 {
    margin-top: 21px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    border-radius: 21px;
    border: 1px solid black;
    padding: 18px 15px;
}

.hero--info h2 {
    margin-top: 42px;
    color: black;
    font-size: 48px;
    font-weight: 700;
    width: 335px;
}

.hero--info h4 {
    color: black;
    font-size: 24px;
    font-weight: 400;
}

.hero--info h5 {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.hero--info ul {
    list-style: none;
    margin-top: 47px;
    display: inline-block;
}

.hero--info ul li {
    display: inline-block;
    color: black;
    background: white;
    border-radius: 21px;
    border: 1px solid black;
    padding: 18px 15px;
}

.info {
    max-width: 100%;
    padding-left: 215px;
    padding-top: 246px;
}

.container.about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.container.about .info {
    position: relative;
    transform: rotate(-4.32deg);
    width: 50%;
    margin-right: -100px;
    z-index: 2;
}

.container.about .skills {
    position: relative;
    transform: rotate(7.2deg);
    width: 50%;
    margin-left: -100px;
    margin-top: 400px;
    z-index: 1;
}

.container.about .info h2,
.container.about .info h4,
.container.about .info h3,
.container.about .info p {
    position: absolute;
    z-index: 2;
}

.container.about .info img {
    position: relative;
    z-index: 1;
}

.about-title {
    top: 328.56px;
    left: 269.68px;
    font-size: 42.89px;
    font-weight: 700;
}

.about-subtitle {
    top: 344.02px;
    left: 583.82px;
    font-size: 16.08px;
    font-weight: 400;
}

.container.about h3 {
    left: 453.02px;
    font-size: 17.75px;
    font-weight: 400;
    border-radius: 15.54px;
    border: 0.74px solid black;
    padding: 14.15px 12.81px;
    display: inline-block;
    justify-content: space-between;
}

.about-role:nth-of-type(1) {
    top: 451.87px;
}

.about-role:nth-of-type(2) {
    top: 537.63px;
}

.about-role:nth-of-type(3) {
    top: 593.38px;
}

.about-description {
    top: 701.67px;
    left: 269.68px;
    font-size: 18.23px;
}

/* Контейнер для навыков */
.container.about .skills h2,
.container.about .skills h4,
.container.about .skills h3 {
    position: absolute;
    z-index: 2;
}

.container.about .skills img {
    position: relative;
    z-index: 1;
}

.skills-title {
    top: 82.82px;
    left: 54.86px;
    font-size: 38.72px;
    font-weight: 400;
}

.skills-subtitle {
    top: 98.33px;
    left: 370.02px;
    font-size: 16.13px;
    font-weight: 400;
}

.container.about .skills h3 {
    left: 87.17px;
    font-size: 17.81px;
    font-weight: 400;
    border-radius: 15.59px;
    border: 0.74px solid black;
    padding: 13px 12px;
    display: inline-block;
    justify-content: space-between;
}

.skills-lvl:nth-of-type(1) {
    top: 158px;
}

.skills-lvl:nth-of-type(2) {
    top: 214.05px;
}

.skills-lvl:nth-of-type(3) {
    top: 269.98px;
}

.skills-lvl:nth-of-type(4) {
    top: 325.92px;
}

.skills-lvl:nth-of-type(5) {
    top: 381.85px;
}

.skills-title2 {
    top: 460.37px;
    left: 54.86px;
    font-size: 38.72px;
    font-weight: 400;
}

.carouselImage {
    transition: transform 1s ease-in-out;
}

.container.works {
    width: 100%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.work-item {
    min-width: 50%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 20px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#carouselImage {
    width: 100%;
    height: auto;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.fixed:hover {
    animation: scaleUp 0.3s ease-in-out forwards;
}


.attention-heading {
    padding-top: 384px;
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 48px;
}

.container.contacts {
    position: relative;
    width: 100%;
    max-width: 1355px;
    margin: 0 auto;
    padding-bottom: 415px;
    padding-top: 187px;
}

.container.contacts img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container.contacts .info h1,
.container.contacts .info .form-group,
.container.contacts .info .contact-info {
    position: absolute;
    z-index: 2;
    color: black;
    
    font-weight: 400;
}

.contact-title {
    top: 62px;
    color: black;
    font-size: 96px;
    left: 179px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px;
    margin-bottom: 5px;
    font-size: 24px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 30px);
    font-size: 24px;
}

.form-group:nth-of-type(1) {
    top: 233px;
    left: 50px;
    left: 179px;
}

.form-group:nth-of-type(2) {
    top: 312px;
    left: 50px;
    left: 179px;
}

.form-group:nth-of-type(3) {
    top: 391px;
    left: 50px;
    left: 179px;
}

.contact-info {
    top: 573px;
    left: 203px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.contact-info h3 {
    margin: 0;
    font-size: 16px;
}

.contact-info a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
}

.contact-info a:hover,
.contact-info a:focus,
.contact-info a:active {
    text-decoration: none;
    color: inherit;
}






.container.donut {
    position: relative;
    width: fit-content;
}

.container.donut img {
    position: relative;
    z-index: 1;
}

.container.donut h1,
.container.donut h2,
.container.donut h3,
.container.donut h4 {
    position: absolute;
    z-index: 2;
}

.container.donut h1 {
    top: 99px;
    left: 179px;
    color: black;
    font-size: 96px;
    font-weight: 400;
}

.container.donut h2:nth-of-type(1) {
    top: 252px;
    left: 180px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 21px;
    border: 1px solid black;
    padding: 18px 15px;
}

.container.donut h2:nth-of-type(2) {
    top: 328px;
    left: 180px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 21px;
    border: 1px solid black;
    padding: 18px 15px;
}

.container.donut h3:nth-of-type(1) {
    top: 270px;
    left: 486px;
    font-size: 24px;
    font-weight: 400;
}

.container.donut h3:nth-of-type(2) {
    top: 348px;
    left: 486px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.container.donut a {
    text-decoration: none;
    color: inherit;
}

.container.donut a:focus,
.container.donut a:active {
    text-decoration: none;
    color: inherit;
}

.container.donut a:hover {
    border-bottom: 1px solid black;
}

.container.donut h4 {
    top: 438px;
    left: 400px;
    font-size: 24px;
    font-weight: 400;
}




.footer {
    transform: rotate(16.05deg);
    transform-origin: center;
    margin-top: 303px;
    height: 440px;
}



.photo-container {
    position: relative;
    width: 300px;
    height: 600px;
    margin: 0 auto;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.photo1 {
    z-index: 3;
}

.photo2 {
    z-index: 2;
    left: 0;
}

.photo3 {
    z-index: 1;
    right: 0;
}

.photo-container:hover .photo2 {
    transform: rotate(-11.5deg) translateX(-100px);
}

.photo-container:hover .photo3 {
    transform: rotate(11.5deg) translateX(100px);
}

.photo-container:hover .photo2 {
    transform: rotate(-11.5deg) translateX(-10%);
}

.photo-container:hover .photo3 {
    transform: rotate(11.5deg) translateX(10%);
}

@media (max-width: 768px) {
    header nav {
        margin-left: 5%;
        margin-top: 10%;
    }

    .hero--info {
        margin-left: 10%;
    }

    .hero--info h1 {
        font-size: 20vw;
    }

    .hero--info h2 {
        font-size: 8vw;
    }

    .photo-container {
        width: 90%;
        height: 60vw;
    }

    .footer {
        height: 30vh;
    }

    .container {
        width: 100%;
        padding: 0 5%;
    }
}
