@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    background-color: black;
    width: 100%;
    position: relative;
}

.tickets {
    position: absolute;
    padding: 188px 25px;
    display: flex;
    max-width: 100%;
    align-items: center;
}

.ticket1,
.ticket2 {
    display: block;
    transition: transform 2s ease, opacity 2s ease;
}

.ticket2 {
    margin-left: -2px;
}

/* .ticket1:hover + .ticket2 {
    transform: rotate(-20deg) translateX(100px) translateY(-20px);
}

.ticket1:not(:hover) + .ticket2 {
    transform: rotate(0deg) translateX(0) translateY(0);
} */

img {
    max-width: 100%;
}

.fixed {
    position: fixed;
    top: 54px;
    left: 54px;
    z-index: 3;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    font-size: 24px;
    color: black;
}

header nav {
    float: center;
    width: 50%;
    margin-left: 205px;
    margin-top: 248px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    color: black;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: black;
}

header nav ul li a:hover {
    border-bottom: 1px solid black;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    padding-top: 33px;
    margin-left: 200px;
    font-size: 24px;
}

.hero--info h1 {
    color: black;
    font-size: 96px;
    font-weight: 400;
}

.hero--info h3 {
    margin-top: 21px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    border-radius: 21px;
    border: 1px solid black;
    padding: 18px 15px;
}

.hero--info h2 {
    margin-top: 42px;
    color: black;
    font-size: 48px;
    font-weight: 700;
    width: 335px;
}

.hero--info h4 {
    color: black;
    font-size: 24px;
    font-weight: 400;
}

.hero--info h5 {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.hero--info ul {
    list-style: none;
    margin-top: 47px;
    display: inline-block;
}

.hero--info ul li {
    display: inline-block;
    color: black;
    background: white;
    border-radius: 21px;
    border: 1px solid black;
    padding: 18px 15px;
}

.info {
    max-width: 100%;
    padding: 264px 251.92px;
}

.container.about .info {
    position: relative;
    transform: rotate(-4.32deg);
}

.container.about .info h2,
.container.about .info h4,
.container.about .info h3,
.container.about .info p {
    position: absolute;
    z-index: 2;
}

.container.about .info img {
    position: relative;
    z-index: 1;
}

.about-title {
    top: 347px;
    left: 306.6px;
    font-size: 42.89px;
    font-weight: 700;
}

.about-subtitle {
    top: 363px;
    left: 625px;
    font-size: 16.08px;
    font-weight: 400;
}

.container.about h3 {
    left: 490px;
    font-size: 17.75px;
    font-weight: 400;
    border-radius: 15.54px;
    border: 0.74px solid black;
    padding: 14.15px 12.81px;
    display: inline-block;
    justify-content: space-between;
}

.about-role:nth-of-type(1) {
    top: 490px;
}

.about-role:nth-of-type(2) {
    top: 550px;
}

.about-role:nth-of-type(3) {
    top: 610px;
}

.about-description {
    top: 723px;
    left: 306.6px;
    font-size: 18.23px;
}

.container.about .skills {
    position: relative;
    /* transform: rotate(7.2deg); */
}

.container.about .skills h2,
.container.about .skills h4,
.container.about .skills h3,
.container.about .skills p {
    position: absolute;
    z-index: 2;
}

.container.about .skills img {
    position: relative;
    z-index: 1;
}

.carousel {
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel img {
    transition: transform 1s ease-in-out;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease-in-out;
}

.work-item {
    flex: 0 0 300px;
    margin-right: 20px;
    background: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.fixed:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.attention-heading {
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 48px;
}

.container.contacts {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}

.ticket-background {
    position: relative;
    top: 0;
    width: 120%;
    height: auto;
    z-index: -1;
}

form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

form h1 {
    font-size: 96px;
    font-weight: 400;
    color: white; /* Changed to white for better visibility on a dark background */
    margin-bottom: 40px;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    width: 20%;
    min-width: 60px;
    margin-right: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
}

textarea {
    height: 100px;
    resize: none;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.contact-info h3 {
    margin: 5px 20px;
}

.contact-info h3 a {
    color: white;
    text-decoration: none;
}

.contact-info h3 a:hover {
    text-decoration: underline;
}
